<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>NYP Formulate</title>
</head>
<body>
	<div class="jumbotron" id="welcome">
		<h1>Welcome to NYP Formulate</h1>
		<p>NYP Formulate is an intuitive, easy to use form creation app for New York Packaging.</p>
		<p>This app is a work in progress and additional functionality is currently being developed.</p>
		<%= link_to "Click here to go to the Hubbard Shipping Index", shipments_path %>
	</div>
</body>
</html>